@font-face {
    font-family: OpenSans;
    src: url(./assets/fonts/ChronicaPro-Regular.ttf);
    font-weight: 700;
}
@font-face {
    font-family: OpenSans;
    src: url(./assets/fonts/static/OpenSans/OpenSans-SemiBold.ttf);
    font-weight: 600;
}
